.mainFooter {
  background-color: #313940;
  color: white;
  font-family: sans-serif;
  margin: auto;
  min-height: 14.7vh;

  .content {
    padding-top: 2rem;
    max-width: 1200px;
    margin: auto;
    padding-left: 1rem;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
