.navLink {
  color: #313940;
  text-decoration: none;
  font-family: sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.navLinkMobile {
  color: #313940;
  text-decoration: none;
  font-family: sans-serif;
  padding-bottom: 1rem;
}

.bm-item:focus {
  outline: 0;
}

@media only screen and (min-width: 992px) {
  .bm-burger-button {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .desktopMenu {
    display: none;
  }
}
